webapp/config.R
webapp/.Rproj.user
webapp/.RData
webapp/.RHistory
update/config.json
update/fail
data/*
data/!.gitkeep
log/*
log/!.gitkeep
*.pyc
update/.idea
*.csv
*nohup.out
!removeCarrigeReturn.sh
*.sublime-*
.Rproj.user
*.Rproj

