.DS_Store
*/.DS_Store
webapp/config.R
webapp/.Rproj.user
webapp/.RData
webapp/.RHistory
data-layer/update/config.json
data-layer/update/fail
*.pyc
._*
data-layer/update/.idea
data-layer/data/*
data-layer/data/!.gitkeep
db-layer/fetcher/config.json
log/*
log/!.gitkeep
*nohup.out
.Rhistory
djangoapp/venv
djangoapp/moocdashboard/db.sqlite3
djangoapp/moocdashboardold.tar.gz
djangoapp/moocdashboard/manage.py
djangoapp/moocdashboard/moocdashboard/__init__.py
djangoapp/moocdashboard/moocdashboard/settings.py
djangoapp/moocdashboard/moocdashboard/urls.py
djangoapp/moocdashboard/moocdashboard/wsgi.py
djangoapp/moocdashboard/moocdashboard/Instructions.txt
djangoapp/moocdashboard/moocdashboard/dashboard.py
djangoapp/moocdashboard/moocdashboard/*.pyc
djangoapp/moocdashboard/moocdata/migrations
djangoapp/moocdashboard/moocdata/admin.py
djangoapp/moocdashboard/moocdata/tests.py
djangoapp/moocdashboard/moocdata/*.pyc
djangoapp/moocdashboard/apps/*.pyc
djangoapp/moocdashboard/apps/data/*.pyc
djangoapp/moocdashboard/apps/dashboard/*.pyc
*.deb
