.DS_Store
*/.DS_Store
webapp/config.R
webapp/.Rproj.user
webapp/.RData
webapp/.RHistory
data-layer/update/config.json
data-layer/update/fail
*.pyc
._*
data-layer/update/.idea
data-layer/data/*
data-layer/data/!.gitkeep
db-layer/fetcher/config.json
log/*
log/!.gitkeep
*nohup.out
djangoapp/
djangoapp/*
