{% extends "base.html" %}

{% block title %}Course List{% endblock %}

{% block content %}
    <div class="row">
                    <div class="col-lg-12">

						<div class="panel panel-default">
				            <div class="panel-heading">
				                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Courses</h3>
				            </div>

				            <div class="panel-body">

							    <table width="100%">
							    	<tr>
								    	<th>Course</th>
								    	<th>Start Date</th>
								    	<th>Weeks</th>
								    	<th>Joiners</th>
								    	<th>Leavers</th>
								    	<th>Learners</th>
								    	<th>Active Learners</th>
								    	<th>Returning Learners</th>
								    	<th>Social Learners</th>
								    	<th>Fully Participating Learners</th>
								    	<th>Statements Sold</th>
								    </tr>

								    {% for aggregatecourse in object_list %}
								    <tr>
								    	<td>{{ aggregatecourse.course_run }}</td>
								    	<td>{{ aggregatecourse.start_date }}</td>
								    	<td>{{ aggregatecourse.no_of_weeks }}</td>
								    	<td>{{ aggregatecourse.joiners }}</td>
								    	<td>{{ aggregatecourse.leavers }}</td>
								    	<td>{{ aggregatecourse.learners }}</td>
								    	<td>{{ aggregatecourse.active_learners }}</td>
								    	<td>{{ aggregatecourse.returning_learners }}</td>
								    	<td>{{ aggregatecourse.social_learners }}</td>
								    	<td>{{ aggregatecourse.fully_participating_learners }}</td>
								    	<td>{{ aggregatecourse.statements_sold }}</td>
								    </tr>
								    {% endfor %}
							    </table>
							</div>
						</div>
					</div>
	</div>
{% endblock %}