{% extends "base.html" %}

{% block title %}Course List{% endblock %}

{% block active-nav %}nav-course-list{% endblock %}

{% block content %}
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> No course/runs selected!</h4>
                        You must select at least 1 course to be able to view this data. 
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Aggregate Course List</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% load django_tables2 %}
                                            {% render_table table %}
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- ./box-body -->
                                <!--<div class="box-footer">
                                </div>-->
                                <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

{% endblock %}