            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul id="tabs" class="sidebar-menu">
                        <li id="home">
                            <a href="/" data-value="home">
                                <i class="fa fa-home"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li id="course-list">
                            <a href="/course-list/" data-value="enrolment">
                                <i class="fa fa-th"></i>
                                <span>Aggregate Enrolment Data</span>
                            </a>
                        </li>
                        <li id="demographics">
                            <a href="/demographics/" data-value="demographics">
                                <i class="fa fa-pie-chart"></i>
                                <span>Demographics</span>
                            </a>
                        </li>
                        <li id="statement-demographics">
                            <a href="/statement-demographics/" data-value="statementDemographics">
                                <i class="fa fa-pie-chart"></i>
                                <span>Statement Demographics</span>
                            </a>
                        </li>
                        <li id="sign-ups-statements-sold">
                            <a href="/sign-ups-statements-sold/" data-value="signUpsStatementsSold">
                                <i class="fa fa-graduation-cap"></i>
                                <span>Sign Ups and Statements Sold</span>
                            </a>
                        </li>
                        <li id="step-completion">
                            <a href="/step-completion/" data-value="step_completion">
                                <i class="fa fa-graduation-cap"></i>
                                <span>Step Completion</span>
                            </a>
                        </li>
                        <li id="comments-overview">
                            <a href="/comments-overview/" data-value="commentsOverview">
                                <i class="fa fa-commenting-o"></i>
                                <span>Comments Overview</span>
                            </a>
                        </li>
                        <li id="comments-viewer">
                            <a href="/comments-viewer/" data-value="commentsViewer">
                                <i class="fa fa-commenting-o"></i>
                                <span>Comments Viewer</span>
                            </a>
                        </li>
                        <li id="total-measures">
                            <a href="/total-measures/" data-value="total_measures">
                                <i class="fa fa-comments"></i>
                                <span>Total Measures</span>
                            </a>
                        </li><!--
                        <li>
                            <a href="#tab-correlations" data-toggle="tab" data-value="correlations">
                                <i class="fa fa-puzzle-piece"></i>
                                <span>Correlations</span>
                            </a>
                        </li>-->
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>